@media (max-width: 1200px){
    .navbar{ 
        height:70px;   
    }

    .navbar__menu{
        display: none;
    }

    .navbar__img svg{
        margin-left: 2.5%;
    }

    .navbar__icon{
        display: inline;
    }

    .title__video{
        width: 108vw;
    }

    .title__text{
        margin-left: 7.5%;
        width: 70%;
    }

    .title__text h1{
        font-size: 44px;
    }
    
    .title__text h3{
        font-size: 20px;
    }

    .cardssection{
        padding: 0 15%;
    }

    .cardssection__title{
        padding: 40px 0; 
        font-size: 20px;
    }

    .cardssection__content__cards__card{
        flex-basis: 96%;
    }

    .cardssection__content__cards__card__text{
        font-size: 16px;
    }

    .cardssection__content__smllcards__card__text{
        font-size: 16px;
    }

    .companiestext{
        padding: 80px 15%;
        flex-direction: column;
    }

    .companiestext__title{
        font-size: 22px;
    }

    .companiestext__text p{
        font-size: 16px;
    }

    .companiestext__title h3,
    .companiestext__text p{
        padding-right: 0px;
        padding-bottom: 40px;
    }

    .companieslogos{
        padding: 0 12.5%;
    }

    .testimonials__text{
        font-size: 24px;
    }

    .testimonials__cards__card{
        min-width: 33%;
        max-width: 33%;
    }

    .testimonials__cards__card--alberto{
        min-width: 100%;
        max-width: 100%;
    }

    .testimonials__cards__card--alberto{
        min-width: 100%;
        max-width: 100%;
    }

    .testimonials__cards__card--alberto .testimonials__cards__card__text{
        left: 2.5%;
    }

    .about{
        padding: 20px 15%;
    }

    .about__content{
        flex-direction: column;
    }

    .about__content__title h3,
    .about__content__text p{
        padding-right: 5%;
        padding-bottom: 40px;
    }

    .about__content__title{
        font-size: 22px;
    }

    .about__content__text p{
        font-size: 14px;
    }

    .about__content__buttoncontainer{
        padding-top: 0px;
        padding-bottom: 80px;
    }

    .about__content__buttoncontainer a{
        font-size: 14px;
        padding: 12px 30px;
    }

    .descriptions{
        padding: 0 15%;
    }

    .descriptions__content{
        height: 400px;
    }

    .descriptions__content h2{
        font-size: 32px;
        padding-bottom: 10px;
    }

    .descriptions__content p{
        font-size: 16px;
    }

    .options{
        padding-left: 15%;
        padding-right: 7.5%;
    }

    .options__title{
        font-size: 22px;
    }

    .options__container__element__number{
        font-size: 42px;
    }
    
    .options__container__element__title{
        font-size: 24px;
    }
    
    .options__container__element__text{
        font-size: 16px;
        padding-top: 15px;
        padding-right: 20%;
    }

    .contact{
        flex-direction: column;
        padding: 0px 15%;
        padding-top: 80px;
        padding-bottom: 20px;
    }

    .contact__text{
        padding: 0px;
    }

    .contact__text h2{
        font-size: 32px;
    }
    
    .contact__text p{
        font-size: 20px;
        padding-right: 0px;
    }

    .contact__form{
        padding-top: 40px;
        padding-right: 0px;
    }

    .contact__form label{
        font-size: 16px;
    }

    .footer__text__contact__logo svg{
        height: auto;
    }

    .footer__text{
        display: flex;
        flex-direction: column;
    }

    .footer__text__contact{
        border-right: 0px;
        padding-right: 0px;
        margin-bottom: 40px;
    }

    .footer__text__contact__links{
        padding-left: 0px;
    }

}