@media (max-width: 768px){

    .title__video{
        width: 124vw;
    }

    .title__text h1{
        font-size: 36px;
    }
    
    .title__text h3{
        font-size: 16px;
    }

    .cardssection{
        padding: 0 10%;
    }

    .cardssection__title{
        font-size: 17px;
    }

    .cardssection__content{
        flex-wrap: wrap;
    }

    .cardssection__content__cards{
        flex-basis: 100%;
    }

    .cardssection__content__cards__card__text--bold{
        font-weight: bold;
    }

    .cardssection__content__cards__card__text{
        font-size: 14px;
        line-height: 200%;
    }

    .cardssection__content__smllcards__card__text{
        font-size: 14px;
        line-height: 200%;
    }

    .companiestext{
        padding: 0px 10%;
        padding-top: 80px;
        padding-bottom: 20px;
    }

    .companiestext__title{
        font-size: 18px;
    }

    .companiestext__title h3{
        padding-bottom: 20px;
    }

    .companiestext__text p{
        font-size: 16px;
    }

    .companieslogos{
        padding: 0 7.5%;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    
    .companieslogos__imgcontainer{
        min-width: 33%;
        max-width: 33%;
    }

    .testimonials__text{
        font-size: 20px;
    }

    .testimonials__cards__card{
        min-width: 100%;
        max-width: 100%;
    }

    .testimonials__cards__card__text{
        left: 2%;
    }

    .testimonials__cards__card button{
        margin: 0 40%;
        width: 20%;
    }
    
    .about{
        padding: 0px 10%;
        padding-top: 20px;
        padding-bottom: 0px;
    }

    .about__content__title{
        font-size: 18px;
    }

    .about__content__text p{
        font-size: 16px;
    }

    .about__content__buttoncontainer a{
        font-size: 16px;
        padding: 12px 40px;
    }

    .descriptions{
        padding: 0 10%;
    }

    .descriptions__content{
        height: 300px;
    }

    .descriptions__content__icon{
        height: 30px;
    }

    .options{
        padding: 10%;
    }

    .options__title{
        font-size: 18px;
    }

    .options__title svg{
       vertical-align: middle;
    }

    .options__container__element__text{
        display: none;
    }

    .options__container__element__number{
        font-size: 36px;
    }
    
    .options__container__element__title{
        font-size: 20px;
        padding-right: 10%;
    }

    .contact{
        padding: 0px 10%;
        padding-top: 80px;
        padding-bottom: 20px;
    }

    .contact__text h2{
        font-size: 28px;
    }
    
    .contact__text p{
        font-size: 16px;
        line-height: 150%;
    }

    .footer{
        padding-left:10%;
        padding-right: 10%;
    }
}