@media (max-width: 992px){
    .title{
        height: 400px;
    }

    .title__text{
        margin-left: 5%;
    }

    .title__text h1{
        font-size: 38px;
    }
    
    .title__text h3{
        font-size: 18px;
    }

    .cardssection{
        padding: 0 20%;
    }

    .cardssection__content__cards{
        flex:1;
    }

    .cardssection__content__smllcards{
        flex: 1;
    }

    .companiestext{
        padding: 0 20%;
        padding-top: 60px;
        padding-bottom: 0px;
    }

    .companiestext__title{
        font-size: 20px;
    }

    .companieslogos{
        padding: 0 17.5%;
    }

    .testimonials__text{
        font-size: 22px;
    }

    .testimonials__cards__card{
        min-width: 50%;
        max-width: 50%;
    }

    .testimonials__cards__card--alberto{
        min-width: 50%;
        max-width: 50%;
    }

    .testimonials__cards__card--alberto{
        min-width: 50%;
        max-width: 50%;
    }

    .testimonials__cards__card button{
        display: block;
        margin: 0 33.3%;
        width: 33.3%;
    }

    .about{
        padding: 0px 20%;
    }

    .about__content__title h3{
        font-size: 22px;
    }

    .about__content__text p{
        font-size: 18px;
    }

    .descriptions{
        padding: 0px 20%;
    }

    .descriptions__content{
        flex-basis: 100%;
        width: 100%;
        height: 550px;
    }

    .options{
        padding-left: 20%;
        padding-right: 20%;   
    }

    .options__title{
        font-size: 20px;
    }

    .options__container__element{
        min-width: 50%;
        max-width: 50%;
    }

    .options__container__element__number{
        font-size: 40px;
    }
    
    .options__container__element__title{
        font-size: 22px;
    }
    
    .options__container__element__text{
        font-size: 20px;
    }

    .contact__text h2{
        font-size: 32px;
        margin-bottom: 20px;
    }
    
    .contact__text p{
        font-size: 18px;
    }

    .contact{
        padding: 0px 20%;
        padding-top: 80px;
        padding-bottom: 20px;
    }

    .footer{
        padding: 60px 20%;
    }
    
}