@media (max-width: 576px){
    .title__video{
        width: 190vw;
    }

    .title__text{
        margin-left: 6%;
        width: 85%;
    }

    .title__text h1{
        font-size: 34px;
    }
    
    .title__text h3{
        font-size: 16px;
    }

    .companieslogos__imgcontainer{
        min-width: 45%;
        max-width: 45%;
    }

    .descriptions{
        padding: 0px;
    }

    .descriptions{
        padding: 0px;
    }

    .descriptions__content{
        padding: 60px 30px;
    }

    .descriptions__content h2{
        font-size: 24px;
    }

    .options{
        padding: 7.5%;
    }

    .options__container__element__title{
        padding-right: 2%;
    }

    .contact__text h2{
        font-size: 26px;
    }
    
    .contact__text p{
        font-size: 16px;
    }
}