@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Work Sans', sans-serif;
}

/*NAVBAR*/

.navbar{
    position: fixed;
    top:0;
    height: 80px;  
    background-color: white;
    display: flex;
    align-items: center;
    box-shadow:rgba(0, 0, 0, 0.08) 0px 1.5px 4px;
    z-index: 50;
}

.navbar__img svg{
    width: 150px;
    margin-left: 5%;
    cursor: pointer;
}

.navbar__img .svg__color{
    fill: #333;
}

.navbar__menu{ 
    height: 100%;
    position: relative;
}

.navbar__menu ul{
    position: absolute;
    right: 0px;
    width: 790px;
    padding-right: 5%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar__menu ul li{
    width: auto;
    display: flex;
    height: 100%;
    align-items:center;
    justify-content: none;
    list-style: none;
    color: #333;
    cursor: pointer;
}

.navbar__menu ul li span{
    padding-bottom: 5px;
    width: auto;
}

.navbar__menu ul li:hover > span{
    padding-bottom: 4px;
    border-bottom: 1px solid #333;
}

.navbar__menu--first{
    position: relative;
    border-bottom: 0px;
}

.navbar__menu__icon{
    width: 18px;
    height: 15px;
    vertical-align: middle;
    margin-left: 15px;
    cursor: auto;
    fill: #FE2DA0;
    transform: rotate(90deg);
    transition-duration: 300ms;
}

.navbar__menu--first:hover > .navbar__menu__icon{
    transform: rotate(0deg);
}

.navbar__menu__button{
    text-decoration: none;
    color: white;
    background-color: #FE2DA0;
    border-radius: 5px;
    padding: 12px 40px;
}

.navbar__menu__button:hover{
    background-color: #FE209A;
}

.navbar__icon{
    display: none;
    width: auto;
    margin-right: 2.5%;
}

.navbar__icon svg{
    fill: #333;
    width: 35px;
    cursor: pointer;
}

/*TRANSPARENT*/

.navbar--transparent{
	background-color: transparent;
	background: linear-gradient(to top, rgba(0, 0, 0, 0) 10%,rgba(0, 0, 0, 0.4) 100%);
    box-shadow:rgba(0, 0, 0, 0.00) 0px 0px 0px;
}

.navbar--transparent .navbar__img .svg__color{
    fill: #fff;
}

.navbar--transparent .navbar__menu ul li{
    color: #fff;
}

.navbar--transparent .navbar__menu__desplegable li{
    color: #333 !important;
}

.navbar--transparent .navbar__menu__desplegable li:hover{
    color: #0071e3 !important;
}

.navbar--transparent .navbar__menu ul li:hover > span{
    border-bottom: 1px solid #fff;
}

.navbar--transparent .navbar__menu__icon{
    fill: #fff;
}

.navbar--transparent .navbar__icon svg{
    fill: #fff;
}

/*---*/

/*---DESPLEGABLE---*/

.navbar__menu__desplegable{
    padding: 25% 35% !important;
    height: 330px !important;
    width: 300px !important;
    position: absolute;
    left: 0;
    top: 80px;

    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: auto;

    display: none !important;
    flex-direction: column !important;
}

.navbar__menu--first:hover > ul{
    display: flex !important;
}

.navbar__menu__desplegable li:hover{
    color: #0071e3;
}

/*---*/

/*TITLE*/

.title{
    position: relative;
    height: 600px;
    overflow: hidden;
    z-index: -1;
}

.title__video{
    width: 102vw;
    bottom: 0;
    position: absolute;
}

.title__textcontainer{
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.title__text{
    margin-left: 5%;
    color: white;
    width: 52.5%;
}

.title__text h1{
    font-size: 48px;
    margin-bottom: 12px;
}

.title__text h3{
    font-size: 22px;
    line-height: 150%;
}

/*CARDS*/

.cardssection{
    padding: 0 10%;
}

.cardssection__title{
    padding: 40px 17.5%; 
    text-align: center;
    color: #333;
    font-size: 22.5px;
    line-height: 140%;
}

.cardssection__title--background{
    background-color: #FFF4CC;
}

.cardssection__content{
    display: flex;
}

.cardssection__content__cards{
    flex:3.5;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.cardssection__content__cards__card{
    flex-basis: 48%;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0.75px 2px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    transition-duration: 400ms;
}

.cardssection__content__cards__card__text{
    flex:1;
    height: 100%;
    font-size: 19px;
    line-height: 140%;
}

.cardssection__content__cards__card__text--bold{
    font-weight: 600;
}

.cardssection__content__cards__card__img{
    flex: 0;
}

.cardssection__content__cards__card__img img{
    width: 60px; 
    height: 50px;
}

/*Efectos tarjetas*/

.cardssection__content__cards__card:hover{
    box-shadow: rgba(0, 0, 0, 0.48) 0px 1.5px 4px;
}

.cardssection__content__cards__card:focus{
    border: 1px solid black;
}

/**/    

.cardssection__content__smllcards{
    flex: 1.5;
    height: 185px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.cardssection__content__smllcards__title{
    padding-top: 12px;
}

.cardssection__content__smllcards__card{
    display: flex;
    padding: 10px 0;
}

.cardssection__content__smllcards__card__text{
    flex: 10;
    font-size: 19px;
}

.cardssection__content__smllcards__card__text--bold{
    font-weight: bold;
}

/*SECCIÓN DE EMPRESAS*/

/*texto*/

.companiestext{
    padding: 80px 10%;
    display: flex;
    align-content: center;
    color: #333;
}

.companiestext__title{
    flex: 1;
    font-size: 24px;
}

.companiestext__title h3{
    padding-right: 20%;
}

.companiestext__text p{
    line-height: 140%;
    padding-right: 15%;
}

.companiestext__text{
    flex: 1;    
    font-size: 20px;
}

/*logos*/

.companieslogos{
    padding: 0 7.5%;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.companieslogos__imgcontainer{
    flex: 1;
    min-width: 20%;
    padding: 30px 2.5%;
}

/*Testimonials*/   

.testimonials__text{
    text-align: center;
    font-size: 28px;
    color: #333;
    padding: 40px 0;
}

.testimonials__cards{
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
}

.testimonials__cards__card{
    min-width: 25%;
    max-width: 25%;
    height: 280px;
    position: relative;
}

.testimonials__cards__card__text{
    color: white;
    position: absolute;
    bottom: 0;
    bottom: 20px;
    left: 10%;
    font-size: 0.9em;
    line-height: 140%;
    max-width: 75%;
    transition-duration: 200ms;
}

.testimonials__cards__card:hover > .testimonials__cards__card__text{
    bottom: 35px;
}

.testimonials__cards__card__text--bold{
    font-weight: 700;
    font-size: 1.1em;
}

/*Button*/

.testimonials__cards__card button{
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 30%;
    width: 39%;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0px;
    color: white;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.4);
}

.testimonials__cards__card button:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.testimonials__cards__card:hover > button{
    display: block;
}

/*---*/

/*Backgrounds*/
.testimonials__cards__card--elena{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%,rgba(0, 0, 0, 0.788) 100%), url("../assets/images/testimonials/elena_martin.jpg");
    background-position: center;
    background-size: cover;
}
.testimonials__cards__card--elena:hover{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%,rgba(0, 0, 0, 0.788) 100%), url("../assets/images/testimonials/elena_martin.jpg");
    background-position: center;
    background-size: cover;
}

.testimonials__cards__card--sebastian{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%,rgba(0, 0, 0, 0.788) 100%), url("../assets/images/testimonials/testimonial_1.jpg");
    background-position: center;
    background-size: cover;
}
.testimonials__cards__card--sebastian:hover{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%,rgba(0, 0, 0, 0.788) 100%), url("../assets/images/testimonials/testimonial_1.jpg");
    background-position: center;
    background-size: cover;
}

.testimonials__cards__card--carmen{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%,rgba(0, 0, 0, 0.788) 100%), url("../assets/images/testimonials/carmen_mallado.jpg");
    background-position: center;
    background-size: cover;
}
.testimonials__cards__card--carmen:hover{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%,rgba(0, 0, 0, 0.788) 100%), url("../assets/images/testimonials/carmen_mallado.jpg");
    background-position: center;
    background-size: cover;
}

.testimonials__cards__card--alberto{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%,rgba(0, 0, 0, 0.788) 100%), url("../assets/images/testimonials/alberto_torres.jpg");
    background-position: center;
    background-size: cover;
}
.testimonials__cards__card--alberto:hover{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%,rgba(0, 0, 0, 0.788) 100%), url("../assets/images/testimonials/alberto_torres.jpg");
    background-position: center;
    background-size: cover;
}
/*---*/

/*ABOUT*/

.about{
    padding: 40px 10%;
}

.about__content{
    display: flex;
    align-content: center;
    color: #333;
}

.about__content__title{
    flex: 1;
    font-size: 24px;
}

.about__content__title h3{
    padding-right: 20%;
}

.about__content__text{
    flex: 1;    
    font-size: 20px;
    line-height: 140%;
}

.about__content__text p{
    padding-right: 15%;
}

.about__content__buttoncontainer{
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__content__buttoncontainer a{
    width: auto;
    text-decoration: none;
    color: white;
    background-color: #4A40EC;
    border-radius: 5px;
    padding: 12px 40px;
}

.about__content__buttoncontainer a:hover{
    background-color: #3C32EB;
}

/*DESCRIPTIONS*/

.descriptions{
    padding: 0 10%;
    display: flex;
    flex-wrap: wrap;
}

.descriptions__content{
    flex:1;
    flex-basis: 50%;
    height: 500px;
    position: relative;
    color: white;
    padding: 80px 40px;
    cursor: pointer;
}

.descriptions__content h2{
    font-size: 36px;
    padding-bottom: 10px;
}

.descriptions__content p{
    display: none;
    padding-top: 25px;
    font-size: 20px;
    line-height: 150%;
}

.descriptions__content:hover > h2{
    border-bottom: 1px solid white;
}

.descriptions__content:hover > p{
    display: block;
}

.descriptions__content__icon{
    position: absolute;
    width: auto;
    bottom: 0;
    right: 0;
    margin: 20px;
    fill: white;
    height: 60px;
}

.descriptions__content__button{
    font-size: 15px;
    position: absolute;
    width: auto;
    top: 0;
    right: 0;
    margin: 20px;
    background-color: #FDC701;
    color: #333;
    border-radius: 5px;
    padding: 12px 20px;
    border: 0px solid white;
}

.descriptions__content__button--dates{
    background-color: #01FAD7;
}

/*Backgrounds*/
.descriptions__content--fsd{
    background-color: #0167FB;
    background-image: url("../assets/images/bootcamps/fullstack-img-chooser.jpg");
    background-position: center;
    background-size: cover;
}

.descriptions__content--fsd:hover{
    background-image: none;
}

.descriptions__content--cs{
    background-color: #4A40EC;
    background-image: url("../assets/images/bootcamps/ciber-img-chooser.jpg");
    background-position: center;
    background-size: cover;
}

.descriptions__content--cs:hover{
    background-image: none;
}

.descriptions__content--uxui{
    background-color: #FE2DA0;
    background-image: url("../assets/images/bootcamps/uxui-img-chooser.jpg");
    background-position: center;
    background-size: cover;
}

.descriptions__content--uxui:hover{
    background-image: none;
}

.descriptions__content--fed{
    background-color: #01FAD7;
    background-image: url("../assets/images/bootcamps/frontend-img-chooser.jpg");
    background-position: center;
    background-size: cover;
}

.descriptions__content--fed:hover{
    background-image: none;
}
/*---*/

/*OPTIONS*/

.options{
    padding-top: 90px;
    padding-left: 10%;
    padding-right: 5%;
    padding-bottom: 45px;
}

.options__title{
    text-align: center;
    color: #333;
    font-size: 24px;
    padding-right: 5%;
}

.options__title svg{
    width: auto;
    vertical-align: sub;
    margin-right: -0.8%;
}

.options__container{
    display: flex;
    flex-wrap: wrap;
}

.options__container__element{
    margin-top: 45px;
    min-width: 33%;
    max-width: 33%;
    padding-right: 5%;
}

.options__container__element__number{
    font-size: 45px;
    padding-bottom: 15px;   
}

.options__container__element__title{
    font-size: 28px;
    padding-bottom: 15px;
}

.options__container__element__text{
    font-size: 20px;
    line-height: 150%;
}

/*CONTACT*/

.contact{
    background-color: #4A40EC;
    display: flex;
    color: white;
    padding-top: 80px;
}

.contact__text{
    padding: 0 5%;
}

.contact__text h2{
    font-size: 36px;
    margin-bottom: 40px;
}

.contact__text p{
    font-size: 22px;
    line-height: 140%;
    padding-right: 12%;
}

.contact__form{
    min-width: 50%;
    padding-right: 5%;
}

.fieldset{
    border: 0px;
}

.legend{
    display: none;
}

.contact__form input,
.contact__form select{
    font-size: 16px;
    border: 0px;
    border-radius: 5px;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.contact__form label{
    font-size: 20px;
}

.contact__form__privacy{
    margin: 20px 0;
}

.contact__form__privacy input{
    width: auto;
    margin: 0px;
}

.contact__form__privacy__label{
    font-size: 14px !important;
}

.contact__form__privacy__label a{
    color: white;
}

.contact__form button{
    font-size: 16px;
    width: auto;
    border: 0px;
    color: white;
    border-radius: 5px;
    padding: 12px 40px;
    background-color: #ffffff70;
    margin-bottom: 40px;
}

.contact__form button:hover{
    background-color: #ffffff60;
}

/*FOOTER*/

.footer{
    background-color: #111;
    padding: 80px 15%;
    display: flex;
}

.footer li{
    list-style: none;
}

.footer a {
    width: auto;
    color: #fff;
    line-height: 140%;
}

.footer .svg__color{
    fill: #ffffff;
}

.footer__text{
    flex: 2;
    display: flex;
}

.footer__text__contact{
    border-right: 1px solid white;
    padding-right: -3%;
}

.footer__text__contact__logo svg{
    width:150px;
    height: 60px;
}

.footer__text__contact__links{
    padding-left: 6%;
}

.footer__logos{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.footer__logos__logo{
    flex:0;
    padding: 0 8px;
}

.footer__logos__logo img{
    width: 36px;
}